### GEMINI
MODEL_GEMINI_2_5_FLASH = 
GEMINI_API_KEY=

### VERTEX
GOOGLE_GENAI_USE_VERTEXAI=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=

GOOGLE_APPLICATION_CREDENTIALS=



# PostgreSQL
DATABASE_URL=
DB_USER=
DB_PASSWORD=


FILESYSTEM_ALLOWED_DIR = 

NOTION_MCP_URL = 
NOTION_CLIENT_NAME = 
NOTION_REDIRECT_HOST = 
NOTION_REDIRECT_PORT = 
